$light-grey: #b4b4b4;
$grey: #4b4b4b;

.card {
  width: 200px;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  box-shadow: 3px 3px 5px #b4b4b4;
  img {
    object-fit: contain;
    height: 200px;
  }
  #name {
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }
  #id {
    margin-top: 10px;
    color: $light-grey;
    text-align: center;
  }
  #counters {
    text-align: center;
    margin-top: 15px;
    b {
      font-weight: 550;
    }
  }
  #client_name {
    margin-top: 20px;
    text-align: center;
    p {
      margin: 0;
      font-weight: 550;
    }
  }
  #more_info {
    color: $light-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-weight: 550;
    text-align: center;
    svg {
      margin-right: 5px;
      path {
        fill: $light-grey;
      }
    }
  }
  &:hover {
    box-shadow: 7px 7px 10px #b4b4b4;
    transition: 250ms;
    cursor: pointer;
    #more_info {
      color: $grey;
      svg {
        path {
          fill: $grey;
        }
      }
    }
  }
}
